:root {
  --main-text-color: #757575;
  --accent-color: #2196f3;
  --secondary-text-color: #212121;
  --primary-white-color: #ffffff;
  --dark-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--main-text-color);
}

/* Reset Ð¡lasses */

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

ul,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* Header */

.header {
  border-bottom: solid 1px #ececec;
}

.header .link:hover,
.header .link:focus {
  color: var(--accent-color);
}

.current-page {
  color: var(--accent-color);
}

.logo {
  display: block;
  margin-right: 94px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--secondary-text-color);

  text-decoration: none;
}

.text-logo {
  color: var(--accent-color);
}
.header > .container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.nav-list .item:not(:last-child) {
  margin-right: 50px;
}

.nav-list .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-list {
  display: flex;
  margin-left: auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-list .link {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;
}

.contact-list .icon {
  margin-right: 10px;
  fill: currentColor;
}

.contact-list .link:hover,
.contact-list .link:focus {
  fill: var(--accent-color);
}

.contact-list .item:not(:last-child) {
  margin-right: 50px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Hero */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: #c4c4c4;

  text-align: center;
}

.overlay {
  max-width: 1600px;
  background-position: top left;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);
}

.hero-title {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--primary-white-color);
}

.hero-button {
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
  border-radius: 4px;

  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

/* Features */
.features-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--secondary-text-color);
}

.features-list {
  display: flex;
}

.features-icon-bg {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
}

.features-list .item {
  width: calc((100% - 90px) / 4);
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Occupation */

.occupation {
  padding-bottom: 94px;
  text-align: center;
}

.occupation-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;

  color: var(--secondary-text-color);
}

.occupation-list {
  display: flex;
}

.occupation-list .item:not(:last-child) {
  margin-right: 30px;
}

/* Out Team */

.team {
  text-align: center;
  background-color: var(--secondary-background-color);
}

.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;

  color: var(--secondary-text-color);
}

.team-list {
  display: flex;
}

.team-list-item {
  width: cacl((100% - 90px) / 4);
  padding-bottom: 30px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-list-item:not(:last-child) {
  margin-right: 30px;
}

.team-list-item-title {
  margin-top: 30px;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--secondary-text-color);
}

.team-list-item-text {
  font-size: 16px;
  line-height: 1.18;
}

.social-net {
  margin-top: 16px;
  margin-left: 30px;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.social-net .link {
  padding: 12px;
  display: flex;
  fill: #afb1b8;
}

.social-net .link:hover,
.social-net .link:focus {
  background-color: var(--accent-color);
  fill: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.social-net .item:not(:last-child) {
  margin-right: 10px;
}

/* Regular clients */

.regular-clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.166;
  text-align: center;

  color: var(--secondary-text-color);
}

.regular-clients .list {
  display: flex;
}

.regular-clients .link {
  min-width: 170px;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
}

.regular-clients .link:hover,
.regular-clients .link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.regular-clients .item:not(:last-child) {
  margin-right: 30px;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--dark-background-color);
}

.dark-bg {
  color: var(--primary-white-color);
}

.logo.dark-bg {
  margin-bottom: 20px;
}

.footer-address {
  margin-bottom: 9px;
  font-style: normal;
  color: var(--primary-white-color);
}

.footer-contact-list {
  color: rgba(255, 255, 255, 0.6);
}

.footer-contact-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-content {
  display: flex;
}

.contacts {
  margin-right: 70px;
}

.join-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #ffffff;
}

.join .list {
  display: flex;
}

.join .item:not(:last-child) {
  margin-right: 10px;
}

.join .link {
  padding: 12px;
  display: flex;
  fill: #ffffff;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}

.join .link:hover,
.join .link:focus {
  background-color: var(--accent-color);
}

/* Potrfolio */

.button {
  padding: 6px 22px;
  background: var(--secondary-background-color);
  border-radius: 4px;
  border: none;
}

.our-works {
  padding-top: 94px;
}

.filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-list-item-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.filter-list-item-button:hover,
.filter-list-item-button:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.our-works-cards-list {
  display: flex;
  flex-wrap: wrap;
}

.our-works-cards-list-item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.our-works-cards-list-item:nth-child(3n) {
  margin-right: 0;
}

.our-works-cards-list-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.our-works-cards-list-item .link {
  display: block;
}

.our-works-cards-list-item .link:hover,
.our-works-cards-list-item .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.our-works-cards-list-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.our-works-cards-list-item-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}

.our-works-cards-list-item-text {
  font-size: 16px;
  line-height: 1.87;
}
